# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
newsapi-python
beautifulsoup4
google-generativeai
psycopg2-binary
